@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

$font-title: "EB Garamond";
$font-primary: 'EB Garamond', sans-serif;
$font-secondary: 'Roboto', sans-serif;