.chat-message {
  @extend %border-with-straight-corner;

  padding: 10px 10px;
  background: unset;
  background-color: white;
  border-radius: 0;

  .message-sender {
    font-size: 120%;
  }

  h2 {
    text-align: center;
    font-family: $font-family-title;
    font-variant: small-caps;
  }
}