input[type=checkbox] {

  &.scene-cue,
  &.traits {
    font-size: 1.35em;
    --gray: #636e72;
    --very-light-gray: #eee;
    --light-gray: #9098A9;
    --x-light-gray: #dfe6e9;
    --gradient: linear-gradient(180deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    font: inherit;
    border: 0.1em solid var(--light-gray);
    border-radius: 0.25em;
    margin-bottom: -0.125em;
    cursor: pointer;

    &:checked {
      border-color: transparent;
      background: black border-box;
      box-shadow: 0 0 0 0.05em inset #fff;
    }

    &:not(:checked) {
      border-color: transparent;
      background: linear-gradient(#fff, #fff) padding-box, black border-box;
    }

    &.disabled {
      border: 0.1em dotted var(--x-light-gray);
      background: linear-gradient(#fff, #fff) padding-box, black border-box;
    }
  }
}