div.club-renown {

  @extend %border-with-straight-corner;
  background-color: transparent;
  border-collapse: unset;

  display: flex;
  justify-content: space-around;

  margin-top: calc($default-margin-bottom / 2);
  font-family: $font-family-title;
  text-transform: uppercase;
  gap: 0;

  p {
    margin: 10px 0;
    min-width: 15px;
    text-align: center;
  }

  hr.vertical {
    height: 33px;
    margin: 3px 0px;

    &.single {
      background: url(../assets/helpers/vertical-single-divisor.svg) repeat-y 0 0;
      background-size: cover;
    }
  }
}

div.member-roles {
  @extend %border-with-rounded-corner;

  margin-bottom: $default-margin-bottom;

  div.trait {
    margin-bottom: calc($default-margin-bottom - 1px);

    &:last-child {
      margin-bottom: calc($default-margin-bottom / 3);
    }
  }

  div.info {
    @extend %info;

    justify-content: center;

    &.role {
      justify-content: space-between;

      label:last-child {
        font-family: $font-primary;
        text-transform: unset;
      }
    }
  }

  hr {
    @extend %hr;
  }

  div.values {
    padding: 5px 10px;

    h3,
    h2 {
      text-transform: uppercase;
      font-family: $font-family-title;
      border-bottom: 0;
      margin-bottom: 0;
    }

    input[type=checkbox].traits {
      @extend %checkbox;
    }
  }
}

div.big-number {
  div input {

    background: transparent;
    border: 0;
    flex: 1;
    width: 70%;
    margin: 0 15%;
    font-size: 40px;
    height: 40px;
    text-align: center;
  }
}

div.upgradesTab {
  @extend %border-with-rounded-corner;
  padding: 20px 10px;

  div.upgrade {


    h2 {
      font-family: $font-family-title;
      text-transform: uppercase;
      font-size: 18px;
    }

    input[type=checkbox].upgrade {
      @extend %checkbox;
    }

    input[type=text] {
      border-image-slice: 0 27 13 27;
      border-image-width: 0px 20px 10px 20px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
      border-style: solid;
      border-image-source: url(../assets//helpers/painted-horizontal-line.svg);

      background: transparent;
      text-align: center;
    }
  }
}